<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="view1.js"></script>
</head>

<body  >
	<div class="margin" ng-app="myApp.view1">
		<div class="form-group mb-2">
		<input class="form-control" id="searchTask" type="text" name="searchTaskInput" ng-model="searchTaskInput">
		<button class="glyphicon glyphicon-search" ng-click="SearchTask()" data-toggle="modal" data-target="#taskDetail"></button>
		<!-- Modal -->
		  <div class="modal fade" id="taskDetail" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Task Detail</h4>
		        </div>
		        <div class="modal-body container">
		          <label>Id:</label>
		          	{{searchTaskId}}<br>
		          <label>Name:</label>
					{{searchTaskName}}<br>
		          <label>Due to Date:</label>
					{{searchTaskDueDate | date :"yyyy-MM-dd"}}
		        </div>
		        <div class="modal-footer">
		          <button  class="btn btn-default" ng-click="SendTask()" data-dismiss="modal" >Ok</button>
		        </div>
		      </div>	      
		    </div>
		  </div>
		<br><br>	
		</div>
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add</button>

		  <!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <form class="modal-content" ng-model="addTaskForm" novalidate>
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Add New Task</h4>
		        </div>
		        <div class="modal-body container">
		          <label>Name:</label><br>
		          <input type="text" name="name" ng-model="name" id="taskName" required><br><br>
		          <label>Due to Date:</label><br>
		          <input type="date" name="dueDate" ng-model="dueDate" id="dueDate" required>
		        </div>
		        <div class="modal-footer">
		          <button  class="btn btn-default" ng-click="SendTask()" data-dismiss="modal"  required>Add</button>
		        </form>
		      </div>	      
		    </div>
		  </div>
		<div ng-controller="View1Ctrl">
			<br>
			<table class="table table-stripped table-hover table-bordered">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Due Date</th>
					<th>Actions</th>
				</tr>
				<tr ng-repeat="item in getTaskList | orderBy:'-dueDate'">
					<td ng-model="itemId">
						{{item.id}}
					</td>
					<td>
						{{item.name}}
					</td>
					<td>
						{{item.dueDate | date:"yyyy-MM-dd"}}
					</td>
					<td class="nextTo">
					<button  class="glyphicon glyphicon-remove" ng-confirm-click="Are you sure you want to delete this task?" confirmed-click="DeleteTask(item.id)"></button>
					<button class="glyphicon glyphicon-ok-circle" ng-confirm-click="Are you sure you want to complete this task?" confirmed-click="CompleteTask(item.id)"></button>
					<button  class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#modalUpdate" ng-click="FillForm(item.id)"></button>
					<!-- Modal -->
					  <div class="modal fade" id="modalUpdate" role="dialog">
					    <div class="modal-dialog">
					      <!-- Modal content-->
					      <form class="modal-content">
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Add New Task</h4>
					        </div>
					        <div class="modal-body container">
					          <label>Name:</label><br>
					          <input type="text" ng-model="taskNameEdit" id="taskNameEdit"  value="taskNameEdit"><br><br>
					          <label>Due to Date:</label><br>
					          <input type="date" ng-model="taskDueDateEdit" id="taskDueDateEdit" value="{{taskDueDateEdit | date:'yyyy-MM-dd'}}">
					        </div>
					        <div class="modal-footer">
					          <button  class="btn btn-default" ng-click="UpdateTask(item.id)" data-dismiss="modal"  required>Update</button>
					        </form>
					      </div>	      
					    </div>	
					</td>
				</tr>
			</table>
	</div>	
	</div>
	
</body>
